@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <ng-view></ng-view>
}
else
{
    <text>
    <h2>Log in to display data</h2><br/>
    log in data: "admin@admin.pl" password: "Admin1."
    </text>
}
